*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*gallerybg*/
.gallery-bg{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url('images/gallerybg.jpeg');
    background-repeat: no-repeat;
    height: 450px;
    width: 100%;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.gallery-bg h2{
    color:white;
    margin-top: 90px;
    font-size: 90px;
    text-shadow: 0 0 2px white;
    
}
/* category */
#category,
#popular-product,
#popular-bundle-pack,
#partner{
    display: flex;
    flex-direction: column;
    max-width: 1152px;
    margin: 50px auto;
}
.category-heading,
.product-heading,
.partner-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-heading h2,
.product-heading h3,
.partner-heading h3{
    font-size: 40px;
    font-weight: 700;
    color: #202020;
    letter-spacing: 0.5px;
    
}
.category-heading span,
.product-heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}
.category-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin: 30px;
}
.fa-search {
    cursor: pointer;
}
.category-box{
    padding:10px;
    display: flex;
    flex-direction:column;
    background-color: #fafafa;
    border-radius: 10px;
    height: auto;
    width: 250px;
    border: 2px solid #ddd;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}
.category-box img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;
    border-radius: 10px;
}
 .category-box span{
    color:black;
    font-size: 22px;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 500;
    text-shadow: 0 0 1.5px black;
    
    
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease 0.1s;
}
@media(max-width:426px)
{
    .gallery-bg{
        height: 252px;
    }
    .gallery-bg h2{
        font-size: 35px;
    }
     .category-heading h2{
        margin-left: 20px;
        font-size: 30px;
     }
}