@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header{
    background-color: #2555A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    top:0;
    left: 0;
    position: fixed;
    z-index: 1;
    width:100%;
}
.dark-mode{
    background-color: black;
    color:red;
}
.logo{
    margin-left: 30px;
}
.logo h1{
    font-size: 30px;
    color: white;
    font-family: 'Poppins',sans-serif;
}
.menu{
    display: none;
    font-size: 25px;
}
#navbar{
margin-right: 50px;
}
#navbar ul a{
    font-size: 18px;
    color: white;
    text-decoration: none;
 
    padding: 8px 16px;
    font-family: 'Poppins',sans-serif;
    border-radius: 10px;
}
#navbar ul a:hover{
    padding: 8px 16px;
    background-color: white;
    color:black;
}
#navbar ul .btn{
    padding:8px 16px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
}
#navbar ul .btn:hover{
    background-color: orangered;
    color: white;
    border: none;
}
/*banner*/
.banner{
    background: linear-gradient(140deg, #ff4c68, #00bfff);
    height: 100vh;
    padding:30px;
    background-size: cover;
}
.banner .content{
    margin-top: 200px;
}
.banner .content h1{
    font-size: 80px;

}
.banner .content p{
margin-top: 20px;
font-size: 26px;
color:white;
font-family: 'Poppins',sans-serif;
}
.banner .content a{

text-decoration: none;
padding: 10px 20px;
background-color: green;
color: white;
font-size: 25px;
font-family: 'poppins',sans-serif;
border-radius: 8px;
}
.banner .content a:hover{
    background-color:#2555A6;
    color:white;
}
/*about us*/
.about{
    background-color:  #8fd3fe;
    height:600px;
}

.about-heading h1{
    text-align: center;
    padding:40px;
    font-size: 50px;
    font-family: 'Poppins',sans-serif;
    text-shadow: 0 0 1px black;
   
}

.about .about-content{
text-align: center;
max-width:1100px;
margin-left: 200px;
}
.about .about-content p{
 font-size: 26px;
 font-family:'Poppins',sans-serif;
    }
    .about .about-content p span{
        color:#ff4c68;
        font-weight: 900;
    }

    /*our services*/
    .services{
        margin-top: 50px;
        
    }
    .services h1{
        text-align: center;
        font-size: 50px;
        font-weight: bold;
    }
    .services .services-container{
        display: flex;
        flex-wrap: wrap;
        margin-left: 30px;
    }
    .services .services-container .services-boxes{
        width:450px;
        height:450px;
        margin: 20px;
       
    }
    .services-boxes .services-image img{
           width: 100%;
           border-radius: 10px;
    }
    .services-boxes .services-content{
        margin-top: 15px;
    }
    .services-boxes .services-content h3{
        text-align: center;
        font-size: 30px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
    }
    .services-boxes .services-content p{
        margin-top: 15px;
        font-size: 15px;
        font-family: 'poppins',sans-serif;
        text-align: center;
    }
    .services-boxes .services-content a{
        padding: 10px 20px;
        background-color: rgb(44, 91, 46);
        color:white;
        text-decoration: none;
        margin-left: 40%;
        border-radius: 10px;
        font-size: 20px;

    }
    /*testimonial*/
    .testimonial{
        margin-top: 100px;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9));
        background-color: #2555A6;
        background-size: cover;
        height: 88vh;

    }
    .testimonial .review-container{
            display: flex;
    }
     .testimonial .review-container .review-images img{
        width:550px;
        height: 500px;
        border-radius: 10px;
        margin-top: 85px;
        margin-left: 50px;
        
    }
    .testimonial .review-container .review-content{
        margin-left: 100px;
        margin-top: 85px;
    }
    
    .testimonial .review-container .review-content h2{
        color: white;
        font-size: 50px;
    }
    .testimonial .review-container .review-content p{
        font-size: 25px;
        color:ghostwhite;
        margin-top: 50px;
        width:700px;

    }
    


    

    @media (max-width:426px){
        .logo{
            margin-left: 10px;
        }
        .logo h1{
            font-size: 20px;
            color: white;
        }
        #navbar{
            display: none;
        }
        .menu{
            display: flex;
            color: white;
        }
        #navbar{
       
            margin: auto;
            position: absolute;
            top:65px;
            left: 0;
            right: 0;
            width:100%;
            background: #2555A6;
           transition: 0.2s;
           height:600px;
           background-size: cover;
           display: none;
         }
         #navbar ul{
    
      
            display: grid;
            width:fit-content;
            margin:30px auto 0 auto;
            text-align: center;
            transition: 0.5s;
           
            
         }
         #navbar ul a{
         margin: 15px;
         color:white;
         text-decoration: none;
         font-size: 20px;
         justify-content: center;
         text-align: center;
         
         }
         /*Banner*/
     .banner{
        background: linear-gradient(140deg, #ff4c68, #00bfff);
        height: 81vh;
        padding:30px;
        background-size: cover;
    }
    .banner .content{
        margin-top: 100px;
    }
    .banner .content h1{
        font-size: 50px;
    
    }
    .banner .content p{
    margin-top: 20px;
    font-size: 21px;
    color:white;
    font-family: 'Poppins',sans-serif;
    }
    .banner .content a{
    
    text-decoration: none;
    padding: 8px 16px;
    background-color: green;
    color: white;
    font-size: 20px;
    font-family: 'poppins',sans-serif;
    border-radius: 8px;
    width:100px;
    }

    /*about us*/
.about{
    background-color:  #8fd3fe;
    height:auto;
}

.about-heading h1{
    text-align: center;
    padding:40px;
    font-size: 42px;
    font-family: 'Poppins',sans-serif;
}
.about .about-content{
margin-left: 0px;
padding: 10px;


}
.about .about-content p{
 font-size: 22px;
 font-family:'Poppins',sans-serif;
    }
    /*our services*/
    .services h1{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }
    .services .services-container{
        display: flex;
        flex-wrap: wrap;
        margin-left: 0px;
    }
    .services-boxes .services-content a{
        margin-left: 35%;
    }
    }


@media (max-width:376px){
    .logo{
        margin-left: 10px;
    }
    .logo h1{
        font-size: 20px;
        color: white;
    }
    #navbar{
        display: none;
    }
    .menu{
        display: flex;
        color: white;
    }
    #navbar{
   
        margin: auto;
        position: absolute;
        top:65px;
        left: 0;
        right: 0;
        width:100%;
        background: #2555A6;
       transition: 0.2s;
       height:600px;
       background-size: cover;
       display: none;
     }
     #navbar ul{

  
        display: grid;
        width:fit-content;
        margin:30px auto 0 auto;
        text-align: center;
        transition: 0.5s;
       
        
     }
     #navbar ul a{
     margin: 15px;
     color:white;
     text-decoration: none;
     font-size: 20px;
     justify-content: center;
     text-align: center;
     
     }
     /*Banner*/
     .banner{
        background: linear-gradient(140deg, #ff4c68, #00bfff);
        height: 81vh;
        padding:30px;
        background-size: cover;
    }
    .banner .content{
        margin-top: 100px;
    }
    .banner .content h1{
        font-size: 45px;
    
    }
    .banner .content p{
    margin-top: 20px;
    font-size: 21px;
    color:white;
    font-family: 'Poppins',sans-serif;
    }
    .banner .content a{
    
    text-decoration: none;
    padding: 8px 16px;
    background-color: green;
    color: white;
    font-size: 20px;
    font-family: 'poppins',sans-serif;
    border-radius: 8px;
    width:100px;
    }
    /*about us*/
.about{
    background-color:  #8fd3fe;
    height:auto;
}

.about-heading h1{
    text-align: center;
    padding:40px;
    font-size: 42px;
    font-family: 'Poppins',sans-serif;
}
.about .about-content{
margin-left: 0px;
padding: 10px;


}
.about .about-content p{
 font-size: 21px;
 font-family:'Poppins',sans-serif;
    }

    /*services*/
    .services-boxes .services-content a{
        margin-left: 33%;
    }

}

@media (max-width:321px){
    html,body{
        
        overflow-x: hidden;
    }
    .logo{
        margin-left: 10px;
    }
    .logo h1{
        font-size: 20px;
        color: white;
    }
    #navbar{
        display: none;
    }
    .menu{
        display: flex;
        color: white;
    }
    #navbar{
   
        margin: auto;
        position: absolute;
        top:65px;
        left: 0;
        right: 0;
        width:100%;
        background: #2555A6;
       transition: 0.2s;
       height:700px;
       background-size: cover;
       display: none;
     }
     #navbar ul{

  
        display: grid;
        width:fit-content;
        margin:30px auto 0 auto;
        text-align: center;
        transition: 0.5s;
       
        
     }
     #navbar ul a{
     margin: 15px;
     color:white;
     text-decoration: none;
     font-size: 20px;
     justify-content: center;
     text-align: center;
     
     }
     /*Banner*/
     .banner{
        background: linear-gradient(140deg, #ff4c68, #00bfff);
        height: 81vh;
        padding:30px;
        background-size: cover;
    }
    .banner .content{
        margin-top: 100px;
    }
    .banner .content h1{
        font-size: 37px;
    
    }
    .banner .content p{
    margin-top: 20px;
    font-size: 21px;
    color:white;
    font-family: 'Poppins',sans-serif;
    }
    .banner .content a{
    
    text-decoration: none;
    padding: 8px 16px;
    background-color: green;
    color: white;
    font-size: 18px;
    font-family: 'poppins',sans-serif;
    border-radius: 8px;
    width:100px;
    }
    /*about us*/
.about{
    background-color:  #8fd3fe;
    height:auto;
}

.about-heading h1{
    text-align: center;
    padding:40px;
    font-size: 35px;
    font-family: 'Poppins',sans-serif;
}
.about .about-content{
margin-left: 0px;
padding: 10px;


}
.about .about-content p{
 font-size: 20px;
 font-family:'Poppins',sans-serif;
    }
    .services-boxes .services-content a{
        margin-left: 29%;
    }
}